<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand" href="#">
                <u>@Html.ActionLink("Roi cuisinier", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</u>
            </a>
            <div class="container">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Matriculas", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Recetas", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
   
        @RenderBody()
        <hr />

        <footer class="text-center text-lg-start" style="background-color: #808080;">

            <div class="container-fluid py-2">
                <div class="row justify-content-center">

                    <a href="https://www.facebook.com/" target="_blank" class="btn btn-sm btn-floating m-2" style="background-color: transparent; width: 60px; height: 60px; padding: 5px;">
                        <img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook Icon" style="width: 100%;">
                    </a>

                    <a href="https://www.youtube.com/" target="_blank" class="btn btn-sm btn-floating m-2" style="background-color: transparent; width: 60px; height: 60px; padding: 5px; ">
                        <img src="https://www.youtube.com/yts/img/favicon_144-vfliLAfaB.png" alt="YouTube Icon" style="width: 100%;">
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" class="btn btn-sm btn-floating m-2" style="background-color: transparent; width: 60px; height: 60px; padding: 5px; ">
                        <img src="https://www.instagram.com/static/images/ico/favicon-192.png/68d99ba29cc8.png" alt="Instagram Icon" style="width: 100%;">
                    </a>

                </div>
            </div>

            <div class="text-center text-white p-1" style="background-color: rgba(0, 0, 0, 0.2);">
                <p>&copy; @DateTime.Now.Year - Grupo 2 - @DateTime.Now.ToString("hh:mm tt, dd/MM/yyyy")</p>
            </div>
        </footer>






   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
